.weather-outer-container {
    height: 100%;
    background-image: url('../../images/weather-display.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.hour {
    flex: 10%;
}

.daily {
    flex: 10%;
}

.button {
    height: 2rem;
    font-size: large;
    color: white;
    width: 10%;
    background: transparent;
    height: 3rem;
    margin-left: 5%;
    border: 1.5px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    color: orange;
    border-color: orange;
}

.button-holder {
    display: flex;
    flex: 0.15;
    align-items: flex-end;
}