.weather-outer-container {
    height: 100%;
    /* background-image: url('../../images/weather-background.jpg'); */
    background-image: linear-gradient(#ffafbd, #ffc3a0);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.hour {
    flex: 10%;
}

.daily {
    flex: 10%;
}

