.input {
    width: 100%;
    left: 2rem;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 3rem;
}

::placeholder {
    color: white;
}

.form {
    position: relative;
    top: 43%;
    left: 2rem;
    width: 35%;
}